
.navbar {
    position: fixed;
    top: 10px;        
    width:  95%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    color: black;
    z-index: 1000;
    background-color: rgb(252, 252, 243);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 130px;
  }
  
  .nav-links,
  .right-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 30px;
  }
  
  .nav-links li,
  .right-links li {
    margin: 0 10px;
    font-weight: bold;
  }
  
  .nav-links a,
  .right-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
  
  .nav-links a:hover,
  .right-links a:hover {
    color: rgb(98, 205, 205);
  }
  
  .right-links {
    margin-left: auto;
  };
  
  